/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
}

/* Mobile first */
.wrapper {
  min-height: 110vh;
  min-width: calc(90vw - (90vw - 100%));
  background-color: #12ad39;
}

.headline {
  padding-top: 250px;
  font-size: 4.0em;
  text-align: center;
  color: rgb(30, 110, 156);
  text-transform: uppercase;
}

form {
  max-width: 90%;
  margin: 65px auto;
  display: flex;
  flex-wrap: wrap;
}

#search {
  width: 65%;
  margin: 0;
  padding: 20px;
  outline: 0;
  border: 0;
  font-size: 1.1em;
}

#submit-btn {
  width: 35%;
  background-color: #f7f7f7;
  border: 0;
  outline: 0;
  font-size: 1.1em;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .headline {
    font-size: 3.5em;
  }

  #search,
  #submit-btn {
    font-size: 2em;
  }
}